.header-container {
  background-color: black;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}



.result-calendar {
  width: 30%;
}

#header-title {
  color: red;
  font-size: 1rem;
}

#nav-link {
  color: white;
  font-size: .5rem;
}


.react-calendar__month-view__weekdays {
  color: gray;
}

.react-calendar__navigation button {
  font-size: 1em;
}