body {
  background-image: url('https://assets.hongkiat.com/uploads/wood-textures/brown-wood.jpg');
}
  

.arrow-button {
  margin: 1rem;
  background-color: rgb(7, 179, 90);
  padding: .5em;
  border: 1 px solid white;
  border-radius: 7%;
  font-family: 'IBM Plex Mono', monospace;
  width:20%
}


.App {
  height:100%;
  text-align: center;

}

.cal-button {
  margin: 1rem;
  background-color: rgb(7, 179, 90);
  padding: 1rem;
  border: 1 px solid white;
  border-radius: 7%;
  font-family: 'IBM Plex Mono', monospace;
}

.cal-start {
  display: block;

}

.embed-container {
  margin-top: 2rem;
}

.header-container {
border-bottom: 2px solid white;
}

.header-text {
  background-color:rgb(94, 39, 2) ;
  height: 7rem;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 padding-top: -1.5rem; 
}


.header-text2{
background-color: pink;
padding: .5em;
font-family: 'IBM Plex Mono', monospace;
font-size: small;
letter-spacing: .5em;
}


.icon-button {
  width: 10%;
}

.nav {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.player-and-searchbar {
  width: 50%;
  border-radius: 25%;
  background-color: black;
  margin: auto;
  border-radius: 10%;
  border:  3px solid white;
}

.player-and-searchbar-container {
 margin: auto
}


.result-calendar {
  width: 30%;
}

.search-button{
  height: 25%
}

 .search-date-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchbar-forms{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.selected {
  background-color: pink;
}


.table-and-searchbar {
  background-color: rgb(250, 237, 186);
  border: 10px solid black;
  height: 50%;
  border-radius: 25%;
  font-family: 'IBM Plex Mono', monospace;

}


.table-container {
display:flex;
flex-direction: row;
justify-content: space-around;
}

.video-container {
  background-color: black;
  width: 30%;
  margin:auto;
  padding: 2rem;
  border-radius: 20%;
}

#header-title {
  font-family: 'Zen Tokyo Zoo', cursive;
  font-weight: 500;
  letter-spacing: 1.5rem;
  color: rgb(7, 179, 90);
  text-shadow: 1px 1px 2px black, 0 0 25px pink, 0 0 5px greenyellow;
  font-size: 3.5rem;
}

#logout-button {
  background-color: rgb(142, 69, 6);
  height: 20%;
  border: none;
}

#nav-link {
  color: white;
  font-size: .5rem;
}


#record {
  margin-top: 2rem;
  width: 25%;
}

